.navbar-color
{
    background-color: rgb(29, 18, 126);
}

.bg-img
{
    background-image: url('images/bg.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

canvas
{
    background: white;
    display: block;
    margin: 0 auto;
}