.navbar-color
{
    background-color: rgb(29, 18, 126);
}

.bg-img
{
    background-image: url('images/bg.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.stroke
{
    text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
}

.post
{
    background-color: black;
    color: white;
    margin-top: 15px;
}

.footer-text
{
    text-align: center;
    color: white;
}